## Setup

Run the code below to load the scrambled message:

In [306]:
import numpy as np
import pandas as pd

message = pd.read_csv("https://www.dropbox.com/s/lgpn3vmksk3ssdo/scrambled_message.txt?dl=1")['Word']

In [307]:
message

0                    Koila!
1                     In
2                     kiew,
3                         a
4                 humble
               ...
122                     you
123                 mabugh.
124              ughhh?call
125        meugh.ughhhh!
126                      K.
Name: Word, Length: 127, dtype: object

In this activity, a "word" refers to any set of characters with no white space, even though they are not truly an English word.  That is, even though many of elements of the scrambled message vector are nonsense, and some have punctuation, you can consider each element to be a "word".

Beware!  The object named `message` is a **pandas Series** of strings.  If you want to use functions that expect a string, rather than a series, remember `.apply()` and `lambda` functions.


## Warm-up exercises

1. How many characters are in the scrambled message?
2. How many of these characters are white space?
3. How many words are in the scrambled message?
4. Show all the punctuation marks in the scrambled message.
5. Print out, in all capitals, the longest word in the scrambled message.
6. Print out every piece of a word that starts with the letter "m" and ends with the letter "z" in the scrambled message.

In [308]:
import re

In [309]:
sum(message.apply(len))

2544

In [310]:
message.apply(lambda x: len(re.findall(r"\s", x))).sum()

np.int64(1652)

In [311]:
len(message)

127

In [312]:
message.apply(lambda x: len(re.findall(r"[^\w\s]", x))).sum()

np.int64(68)

In [313]:
long_word = max(message, key=len)
long_word.upper()

'KAUDEVILLIANUGH?AOGHAJDBN'

In [314]:
string = " ".join(message)
re.findall(r"m\w+z", string)

['mosz', 'maaz']



## Decode a message

Complete the following steps to decode the message.  

1. Remove any spaces before or after each word.
2. Any time you see the word "ugh", with any number of h's, followed by a punctuation mark, delete this.
3. No word should be longer than 16 characters. Drop all extra characters beyond 13 off the end of each word.
4. Replace all instances of exactly 2 a's with exactly 2 e's.
5. Replace all z's with t's.
6. Every word that ends in b, change that to a y.  *Hint: look out for punctuation!*
7. Every word that starts with k, change that to a v.  *Hint: look out for capitalization!*
8. Use `.join()` to recombine all your words into a message.
9. Find the movie this quote is from.

In [315]:
message = message.str.strip()

In [316]:
message = message.str.replace(r"(?i)ugh+[^\w\s]+", "", regex=True)

In [317]:
message = message.str.replace(r"\b(\w{13})\w{4,}\b", r"\1", regex=True)

In [318]:
message = message.str.replace(r"(?<!a)aa(?!a)", "ee", regex=True)

In [319]:
message = message.str.replace(r"z", "t", regex=True)
message = message.str.replace(r"Z", "T", regex=True)

In [320]:
message = message.str.replace(r"b(?=[^\w\s]*$)", "y", regex=True)
message = message.str.replace(r"B(?=[^\w\s]*$)", "Y", regex=True)

In [321]:
message = message.str.replace(r"^k", "v", regex=True)
message = message.str.replace(r"^K", "V", regex=True)

In [322]:
decoded = " ".join(message.tolist())
print(decoded)

Voila! In view, a humble vaudevilliana veteran, cast vicariously as both victim and villain by the vicissitudes of fate. This visage, no mere veneer of vanity, is a vestige of the vox populi now vacant, vanished. However, this valorous visitation of a bygone vexation stands vivified, and has vowed to vanquish these venal and virulent vermin, van guarding vice and vouchsafing the violently vicious and voracious violation of volition. The only verdict is vengeance; a vendetta, held as a votive not in vain, for the value and veracity of such shall one day vindicate the vigilant and the virtuous. Verily this vichyssoise of verbiage veers most verbose, so let me simply add that its my very good honour to meet you and you may call me V.